<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block title %}{%  endblock %}</title>
</head>
<body>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
       <div class="card shadow-sm">
             <img src=”https://t3.ftcdn.net/jpg/03/08/13/32/240_F_308133282_FcLTijpIFCEwQF9fpJn15kAdGHpSVXrb.jpg”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS HIPER AIR Soft розовый</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
             <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
          </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">499 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src=”/Desktop/645c330330e52550feb9bd6da32c94a466cb9a1da96eb000c20511148cd6d533.jpg”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Maxvi MHF-104BT черный</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><a class="accelerator" href="/payment"></a> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
 </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">499 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
          <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/d1f19dba35b8d7cf737bc33f3d08d1ad/0a9d6bd6566c1b995b1053c8ea5734b1b2527d1e96f0a7af866a53f8c0662491.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Accesstyle Candy белый</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
        </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">450 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/f5867b244b5b99cc4b476b5249673da9/c49e775e5c8126dc37d0f2acab76af92da441eb203fa40d9b81814c2819faaaa.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Maxvi MHF-101BT UP черный</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
       </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">500 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
         <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/1aedf3fa67247033aa926d561eb7157a/10eaedc7db6df4b360ede57427415e5ae6a070a46f70180eed37f3c00079b1d0.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Red Line BHS-07 белый</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
          </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">600 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
         <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/1aedf3fa67247033aa926d561eb7157a/10eaedc7db6df4b360ede57427415e5ae6a070a46f70180eed37f3c00079b1d0.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Intro HSW790 черный</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
         </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">500 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/716e2b9d1f9aa21a43c0cf9fa21c3e33/1bf3c73780f8e31e40b3de614cb2f9dac2630d38f98f2a4ec9547d3d5b0643f6.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Gal TW-4500 белый</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
          </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">300 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
          <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/e5853c2777c30571136f871c02a0a096/2793a169ce7405b884080e182c0b63a64d8c52bb0aa1ee3e1ed8927f3e561ffc.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Dialog Emit ES-75BT белый</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
          </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">499 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img src=”https://c.dns-shop.ru/thumb/st1/fit/300/300/e5853c2777c30571136f871c02a0a096/2793a169ce7405b884080e182c0b63a64d8c52bb0aa1ee3e1ed8927f3e561ffc.jpg.webp”>
        </svg>
        <div class="card-body">
         <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наушники TWS Maxvi MHF-109BT черный</font></font></p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></button>
          </div><small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">600 руб.</font></font></small>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>

</body>
</html>