{% extends 'base.html' %}

{% block title %}
    Обновление товара
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Обновление товара</h1>
        <form method="post">
            <input type="text" name="name" class="form-control" value="{{ article.title }}" placeholder="Введите названия товара"><br>
            <textarea name="intro" id="intro" class="form-control" value="{{ article.intro }}" placeholder=""></textarea>
            <textarea name="text" id="text" class="form-control" value="{{ article.text }}" placeholder="Введите описание товара"></textarea>
            <textarea name="price" id="price" class="form-control" value="{{ article.price }}" placeholder="Введите цену товара"></textarea>
            <input type="submit" class="form-control" value="Обновить">
        </form>

    </div>

{% endblock %}